
.apéritifs__img {
    margin-bottom: 60px;
}
.section--padding::before{
    content: '';
    width: 80%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 144px;
    background: var(--primary-text-color);
    opacity: 0.8;

}
.section--padding{
    padding-top: 70px;
    margin-bottom: 95px;
    position: relative;
}

.apéritifs-wrapper {
    display: flex;
}
.apéritifs__title {
        font-weight: 400;
        font-size: 53px;
        line-height: 1.51;
}

.apéritifs__text {
    max-width: 548px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.78;
        margin-left: auto;
}