
.feedback-wrapper {
    padding: 50px 60px 40px 60px;
}

.feedback-list {
    display: flex;
    gap: 180px;
}

.feedback-list__item {
    text-align: center;

}
.feedback-list__img{
    margin: 0 auto;
}
.feedback-list__text {
    
        font-size: 18px;
        line-height: 1.78;

        text-align: center;
        margin-bottom: 35px;
}