.producers-wrapper {
    display: flex;
    padding: 60px;
}

.producers--part {
    margin-left: 110px;
}

.producers__title {
        font-weight: 400;
        max-width: 628px;
        font-size: 46px;
        line-height: 1.25;
        margin-bottom: 130px;
}

.producers__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.78;
        margin-bottom: 35px;

}
.producers__link{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;

}