.container {
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (min-width:480px) {
        width: 480px;
    }
    @media screen and (min-width:1360px) {
        width: 1360px;
    }
}
.wraper{
    overflow: hidden;
}