
@font-face {
  font-family: 'Roboto';
  src:
    url('../../font/Roboto-Regular.woff') format('woff2'),
    url('../../font/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
